.DS_Store
conf/general.yml
codeigniter/logs/log*


codeigniter/fms_endpoint/config/database.php

codeigniter/fms_endpoint/config/config.php

codeigniter/fms_endpoint/models/attributes_join.php

web/index.php
