

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.navbar .btn-group {
	padding : 10px 0 0 0;
}













